#wrapper{
	width: 100%;
	margin-left: -25%;
	float: left;
}

#content{
	margin-left: 25%;
	margin-right: 200px;
}

#navigation{
	width: 200px;
	float: left;
	margin-left: -200px;
}

#extra{
	width: 25%;
	float: left;
}

#footer{
	clear: both;
}
