#wrapper{
	margin-left: -200px;
	width: 100%;
	float: left;
}

#content{
	margin-left: 200px;
}

#navigation{
	width: 200px;
	float: right;
}

#extra{
	width: 200px;
	float: right;
	clear: right;
}

#footer{
	clear: right;
}