#container{
	width: 700px;
	margin: 0 auto;
}

#wrapper{
	width: 400px;
	margin: 0 150px;
	float: left;
}

#extra {
	width: 150px;
	float: left;
	margin-left: -700px;
}

#navigation{
	width: 150px;
	float: left;
	margin-left: -150px;
}

#footer{
	clear: both;
}

