html, body, ul, li, ol, dl, dt, dd, h1, h2, h3, h4, h5, h6, textarea, p, br, input, form,span, a { margin: 0; padding: 0; }
a { text-decoration: none; display: inline-block; color: inherit;}
ul, li { list-style-type: none; list-style: none; }
.clrfix{ zoom: 1; }
.clrfix:after{ display: block; clear: both; content: ''; }
.left{ float: left; }
.right{ float: right; }
